.logo {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-logo {
    color: var(--primary-color);
    height: 100%;
    margin-right: 10px;
}

.label-logo {
    color: var(--light-color);
    font-weight: 900;
    font-size: 2rem;
}