.benefits {
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 30px;
    width: 60%;
    max-width: var(--width-container);
    height: 150px;
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space {
    margin-right: 30px;
}

.icon {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.description {
    color: var(--light-color);
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
    width: 90%;
}

@media(max-width: 768px) {
    .cards {
        flex-direction: column;
        height: auto;
    }
    .space {
        margin-right: 0;
        margin-bottom: 50px;
    }
    .description {
        width: 100%;
    }
}

@media(min-width: 769px) and (max-width: 1096px) {
    .cards {
        width: 80%;
    }
}