.functions {
    background-color: var(--secundary-color);
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.func-container {
    width: 60%;
    max-width: var(--width-container);
}

.func-row-container {
    display: flex;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--card-color);
    width: 50%;
    height: 150px;
}

.func-space-r {
    margin-right: 30px;
}

.func-space-t {
    margin-top: 30px;
}

.func-icon {
    width: 100px;
    height: 70px;
    margin-right: 20px;
}

.func-title {
    color: var(--light-color);
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

.func-description {
    color: var(--light-color);
    font-size: .9rem;
    font-weight: normal;
    margin-top: 10px;

}

@media(max-width: 768px) {
    .func-row-container {
        flex-direction: column;
    }
    .func-container {
        width: 80%;
    }
    .card-container {
        width: auto;
        height: auto;
    }
    .func-space-r {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media(min-width: 769px) and (max-width: 1250px) {
    .func-container {
        width: 80%;
    }
    .card-container {
        height: auto;
    }
}